<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function createDebounce(wait) {
            var timeout;
            return (func) => {
                clearTimeout(timeout);
                timeout = setTimeout(func, wait);
            };
        }
    </script>

    <link rel="stylesheet" type="text/css" href="/ui/static/freelancer.min.css" crossorigin="anonymous">
    <script src="/ui/static/http.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            [[account]]
        </div>
    </nav>

    <section id="header" class="masthead">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Welcome</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
    </section>
    <section id="content">
        {{content}}
    </section>

</body>

</html>