<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function createDebounce(wait) {
            var timeout;
            return (func) => {
                clearTimeout(timeout);
                timeout = setTimeout(func, wait);
            };
        }
    </script>

    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>

</head>

<body>
    Hello, world!

    {{content}}
</body>

</html>