<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="category-container">
                <div class="btn-group category-container-inner">
                    <for each="category">
                        <button class="btn category" category-id="{{_id}}">{{name}}</button>
                    </for>
                    <button id="add-category-btn" class="btn category ion-plus"></button>
                </div>
            </div>
            <div class="l-picker">
                [[letterPicker]]
            </div>
            <div class="tab-content" style="min-height: 400px">
                <div id="ingredient-result-panel" class="well">
                    <ul class="list-group"></ul>
                    <div id="no-results-{{_id}}" class="d-none">
                        No results - select category to add
                    </div>
                </div>
                <div class="input-group d-none" id="add-category-group">
                    <input type="text" class="form-control" placeholder="New category">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {

        const $categoryButtons = $('[category-id]');
        const $searchResults = $('#search-results');
        const $addCategoryBtn = $('#add-category-btn');
        const $addCategoryGroup = $('#add-category-group');
        const $selectedCategory = $('#selected-category');
        const $ingredientResultPanel = $('#ingredient-result-panel');

        function createListGroupItem(name) {
            const li = document.createElement('li');
            li.className = 'list-group-item';
            li.textContent = name;
            return li
        }

        let currentResults = [];
        let selectedCategory = 'all'
        let selectedLetter = '';

        function rebuildPanel() {
            const ul = $ingredientResultPanel.find('ul')
            $(ul).empty();

            const $noResults = $ingredientResultPanel.find('#no-results-' + selectedCategory)

            if (currentResults.length === 0) {
                if (selectedCategory !== 'all') {
                    $noResults.empty();
                    const div = document.createElement('div')
                    div.textContent = 'Add new ingredient...'
                    $noResults.append(div);
                    const input = document.createElement('input')
                    input.placeholder = 'add new'
                    input.value = selectedLetter.toUpperCase();
                    input.addEventListener('keyup', keyevent => {
                        if (keyevent.keyCode === 13) {
                            if (!!input.value) {
                                const ingredient = input.value;
                                $.post('/api/ingredient', JSON.stringify({ name: ingredient, category: selectedCategory }))
                                    .then((data, status) => {
                                        search(ingredient)
                                            .then(results => setResults(results))
                                            .catch(err => console.error(err));
                                    }, err => console.error(err))
                            }
                        }
                    });
                    $noResults.append(input);
                    $(input).focus();
                }
                $noResults.removeClass('d-none')
            } else {
                $noResults.addClass('d-none')
            }

            currentResults.forEach(result => {
                const li = createListGroupItem(result.name);
                li.addEventListener('click', e => {
                    const ev = new CustomEvent('yr.ingredient', { detail: result })
                    document.dispatchEvent(ev)
                })
                ul.append(li)
            })
        }

        $categoryButtons.on('click', function (e) {
            $addCategoryGroup.addClass('d-none');
            $ingredientResultPanel.removeClass('d-none');
            if (selectedCategory) {
                $(`[category-id=${selectedCategory}]`).removeClass('btn-secondary');
            }
            selectedCategory = e.target.getAttribute('category-id');
            $(e.target).addClass('btn-secondary');
            search('^' + selectedLetter)
                .then(results => setResults(results))
                .catch(err => console.error(err));
        });

        $categoryButtons[0].click();

        function search(text) {
            return new Promise((resolve, reject) => {
                let query = 'sw=' + text;
                if (selectedCategory !== 'all') {
                    query += '&category=' + selectedCategory;
                }
                $.get('/api/ingredient?' + query)
                    .then((data, status) => {
                        resolve(data);
                    }, err => reject(err))
            })
        }

        function setResults(results) {
            $searchResults.empty();
            currentResults = results;
            rebuildPanel();
        }

        $addCategoryBtn.click(() => {
            if (selectedCategory) {
                $(`[category-id=${selectedCategory}]`).removeClass('btn-secondary');
                selectedCategory = '';
            }
            $addCategoryGroup.removeClass('d-none');
            $ingredientResultPanel.addClass('d-none');
        })

        $addCategoryGroup.find('.btn')
            .click(() => {
                const name = $addCategoryGroup.find('input').val();
                if (!!name) {
                    PromiseHttp.post('/api/category', JSON.stringify({ name }))
                        .then(_ => window.location = window.location)
                        .catch(err => console.error(err));
                }
            })

        search('')
            .then(results => setResults(results))
            .catch(err => console.error(err));

        const $lpicker = $('.l-picker')
        $lpicker.on('letter-clicked', function (e) {
            let letter = e.letter
            if (e.letter === selectedLetter) {
                $lpicker.find(`[letter="${selectedLetter}"]`).removeClass('btn-info')
                selectedLetter = '';
                letter = '';
            } else {
                $lpicker.find(`[letter="${selectedLetter}"]`).removeClass('btn-info')
                selectedLetter = letter;
                $lpicker.find(`[letter="${selectedLetter}"]`).addClass('btn-info')
            }
            search('^' + letter)
                .then(results => setResults(results))
                .catch(err => console.error(err));
        })
    })
</script>

<style>
    .category-container {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
    }

    .category-container-inner {
        width: auto;
        display: flex;
    }
</style>