<div class="row">
    <div class="col-md-6 col-lg-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" id="login">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(() => {
        $('#login').click(_ => {
            const username = $('#username').val();
            const password = $('#password').val();

            $.post('/api/login', JSON.stringify({ username, password }))
                .then((data, status) => {
                    window.location = window.location;
                }, err => console.error(err))
        })
    })
</script>