<div class="row">
    <div class="col-md-6 col-lg-4">
        <h1>Login</h1>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" id="login">Sign in</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <h1>Register</h1>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="form-group">
            <label for="reg-username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="reg-username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="reg-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="reg-password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" id="register">Register</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(() => {
        $('#login').click(_ => {
            const username = $('#username').val();
            const password = $('#password').val();

            $.post('/api/login', JSON.stringify({ username, password }))
                .then((data, status) => {
                    window.location = window.location;
                }, err => console.error(err))
        })
        $('#register').click(_ => {
            const username = $('#reg-username').val();
            const password = $('#reg-password').val();

            $.post('/api/register', JSON.stringify({ username, password }))
                .then((data, status) => {
                    window.location = window.location;
                }, err => console.error(err))
        })
    })
</script>