<div class="row">
    <div class="col-lg-6">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
            <div class="d-inline-block">{{name}}</div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" id="shareWithUsers" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    Share with
                </button>
                <ul class="dropdown-menu" aria-labelledby="shareWithUsers">
                    <for each="users">
                        <li sharewith="{{_id}}">{{email}}</li>
                    </for>
                </ul>
            </div>
        </h2>

        <div class="panel panel-default">
            <div class="panel-heading">Ingredients</div>
            <div class="panel-body">
                <div class="list-group">
                    <for each="ingredients">
                        <div class="list-group-item d-flex justify-content-between">
                            <div class="amounteditor" idx="{{_idx}}" style="line-height: 30px">
                                [[amounteditor]]
                            </div>
                            <div class="flex-grow-1" style="line-height: 30px">{{name}}</div>
                            <button remove-ing="{{name}}" class="btn btn-default btn-sm glyphicon glyphicon-remove"
                                aria-hidden="true"></button>
                        </div>
                    </for>
                </div>
            </div>
        </div>

        [[ingredients]]
    </div>
</div>

<script type="text/javascript">
    const id = '{{ _id }}';
    $(document).ready(() => {
        const $newIngredient = $('#new-ingredient');
        const $newIngredientBtn = $('#add-new-ingredient');
        const $removeIngBtns = $('[remove-ing]');

        function createnew(recipeId, ingredient, ingredientId) {
            return PromiseHttp.post('/api/recipe/ingredient', JSON.stringify({ recipeId, ingredient, ingredientId }));
        }

        function getrecipe(recipeId) {
            return PromiseHttp.get('/api/recipe/' + recipeId)
        }

        function update(recipeId, recipe) {
            return PromiseHttp.put('/api/recipe/' + recipeId, JSON.stringify(recipe));
        }

        $removeIngBtns.click(e => {
            const ingredientName = e.target.getAttribute('remove-ing');
            getrecipe(id)
                .then(recipe => {
                    recipe.ingredients = recipe.ingredients.filter(i => i.name !== ingredientName);
                    update(id, recipe)
                        .then(_ => window.location = window.location)
                        .catch(x => console.error(x));
                })
                .catch(x => console.error(x));
        })

        $('.amounteditor')
            .on('amountupdated', function (e) {
                const $editor = $(e.currentTarget);
                const idx = $editor.attr('idx');
                const amount = $editor.find('input.amount').val()

                getrecipe(id)
                    .then(recipe => {
                        recipe.ingredients[idx].amount = amount;
                        update(id, recipe)
                            .then(_ => {
                                var page_y = document.getElementsByTagName("body")[0].scrollTop
                                window.sessionStorage.setItem('page_y', page_y)
                                window.location = window.location
                            })
                            .catch(x => console.error(x));
                    })
                    .catch(x => console.error(x));
            })

        $('[sharewith]').click(e => {
            const $target = $(e.target);
            const userId = $target.attr('sharewith')

            PromiseHttp.post('/api/recipe/share', JSON.stringify({ userId, recipeId: id }))
                .then(data => { })
                .catch(err => console.error(err));
        })

        document.addEventListener('yr.ingredient', function (e) {
            const ingredient = e.detail
            if (!!ingredient && !!ingredient.name && !!ingredient._id) {
                createnew(id, ingredient.name, ingredient._id)
                    .then(_ => window.location = window.location)
                    .catch(err => console.error(err));
            }
        })
    })
</script>