<div class="row">
    <div class="col-lg-6">
        <ul>
            <for each="recipes">
                <li><a href="/ui/recipe/{{_id}}">{{name}} - {{addedOn}}</a></li>
            </for>
        </ul>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <input id="new-recipe" type="text" class="form-control" placeholder="New recipe name">
            <span class="input-group-btn">
                <button id="add-new-recipe" class="btn btn-default" type="button">Add</button>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        const $newRecipe = $('#new-recipe');
        const $newRecipeBtn = $('#add-new-recipe');

        function createnew(name) {
            return PromiseHttp.post('/api/recipe', JSON.stringify({ name }));
        }

        $newRecipeBtn.click(() => {
            const name = $newRecipe.val();
            if (!!name) {
                createnew(name)
                    .then(_ => window.location = window.location)
                    .catch(err => console.error(err));
            }
        });
    })
</script>