<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" id="search-ingredient" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="well">
            <ul id="search-results" class="list-group"></ul>
            <div id="no-results" class="hidden">No matches - click to add</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        const $searchResults = $('#search-results');
        const $noResults = $('#no-results');
        const $ingredientInput = $('#search-ingredient');

        function search(text) {
            return new Promise((resolve, reject) => {
                $.get('/api/ingredient?sw=' + text)
                    .then((data, status) => {
                        resolve(data);
                    }, err => reject(err))
            })
        }

        function setResults(results) {
            $searchResults.empty();
            if (results.length === 0) {
                $noResults.removeClass('hidden')
            } else {
                $noResults.addClass('hidden')
            }
            results.forEach(ingredient => {
                const li = document.createElement('li');
                li.className = 'list-group-item';
                li.textContent = ingredient.name;
                $searchResults.append(li)
            });
        }

        $noResults.click(() => {
            const ingredient = $ingredientInput.val();
            $.post('/api/ingredient', JSON.stringify({ name: ingredient }))
                .then((data, status) => {
                    search(ingredient)
                        .then(results => setResults(results))
                        .catch(err => console.error(err));
                }, err => console.error(err))
        });

        search('')
            .then(results => setResults(results))
            .catch(err => console.error(err));
        const debouncedSearch = createDebounce(250)
        $ingredientInput.keyup(async key => {
            debouncedSearch(() => {
                const ingredient = $ingredientInput.val();
                search(ingredient)
                    .then(results => setResults(results))
                    .catch(err => console.error(err));
            })
        })
    })
</script>